.calendarContainer {
  width: 100%;
  position: relative;
  background-color: #fafeff;
  padding: 5px;
  &__main {
    position: relative;
    width: 100%;
    > section {
      padding: 5px;
    }
    // .calendarSection{
    // }
    // .listSection{
    // }
  }
  &__bottomButtons {
    position: relative;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }
}
